*{padding:0;margin: 0;}

.wrapper{width: 300px;margin: 0 auto;}

.todo{border: 1px solid grey;margin: 10px 0;}

p{width: 220px;float:left;word-wrap:break-word;}

.todo input[type="checkbox"]{width:40px;float:left;}

.date{float:right;margin-top: 10px;margin-right: 10px;}

.isRedy{text-decoration: line-through;}

.isReadyColor{background-color:#ffcccc;}

.addcomment, .todo .fa-times{cursor: pointer};